<!DOCTYPE html>
<html>

<head>
    <title>
        Slack page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="page">
        <section class="page_section">
            <div class="page_content hero_section">
                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_label">Slack Features</span>
                        <h1 class="hero_title">One platform for your team and your work</h1>
                        <p class="hero_info double_line">All the features of Slack work together so you can, too.</p>
                        <div class="hero_buttons">
                            <a href="#" class="buttons button_primary click">Try for free</a>
                            <a href="#" class="buttons button_secondary click">See all features</a>
                        </div>
                        <img src="/img/hero.png" alt="hero" class="hero_image">
                    </div>
                </div>
                <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="" class="brands_image">
                    <img src="/img/brands/intuit.png" alt="" class="brands_image">
                    <img src="/img/brands/newscorp.png" alt="" class="brands_image">
                    <img src="/img/brands/onemedical.png" alt="" class="brands_image">
                    <img src="/img/brands/sonos.png" alt="" class="brands_image">
                    <img src="/img/brands/target.png" alt="" class="brands_image">
                    <img src="/img/brands/uber.png" alt="" class="brands_image">
                    <img src="/img/brands/veteran-affairs.png" alt="" class="brands_image">
                </div>
            </div>
        </section>
        <section class="page_section page_section_light">
            <div class="page_content features_section features_section_first">

                <div class="features_info">
                    <h2 class="features_title">Work more easily with everyone</h2>
                    <p class="features_description double_line">Stay on the same page and make decisions faster by
                        bringing
                        all of your
                        work communication into one place.</p>
                </div>


                <div class="features_grid_4">
                    <div class="feature_card">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/connect.svg');"></span>
                        <strong class="feature_card_title">Slack Connect</strong>
                        <p class="feature_description double_line">Collaborate with teams at other
                            companies the same way you do
                            with teams at your own.</p>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/channels.svg');"></span>
                        <strong class="feature_card_title">Channels</strong>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/canvas.svg');"></span>
                        <strong class="feature_card_title">Canvas</strong>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/huddles.svg');"></span>
                        <strong class="feature_card_title">Huddles</strong>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card">
                        <span class="icon icon_feat"
                            style="background-image: url('/svg/feature/messaging.svg');"></span>
                        <strong class="feature_card_title">Messaging</strong>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/clips.svg');"></span>
                        <strong class="feature_card_title">Clips</strong>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card">
                        <span class="icon icon_feat"
                            style="background-image: url('/svg/feature/accessibility.svg');"></span>
                        <strong class="feature_card_title">Accessibility</strong>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                </div>
            </div>
            <div class="page_content features_section features_section_second">

                <div class="features_info">
                    <h2 class="features_title">What you need, when you need it</h2>
                    <p class="features_description double_line">Spend less time shuffling tabs with a comprehensive
                        message
                        archive and
                        all your work tools at your fingertips.</p>
                </div>

                <div class="features_grid_4">
                    <div class="feature_card feature_second">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/apps.svg');"></span>
                        <strong class="feature_card_title">Apps and Integrations</strong>
                        <p class="feature_description double_line">Streamline work by connecting
                            Slack with other services like
                            Google Drive, Office 365 and
                            over 2,200 more.</p>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card feature_second">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/workflow.svg');"></span>
                        <strong class="feature_card_title">Workflow Builder</strong>
                        <p class="feature_description double_line">Automate routine actions and
                            communication, so you can get
                            back to the kind of work only
                            humans can do.</p>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card feature_second">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/search.svg');"></span>
                        <strong class="feature_card_title">Search</strong>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                    <div class="feature_card feature_second">
                        <span class="icon icon_feat" style="background-image: url('/svg/feature/sharing.svg');"></span>
                        <strong class="feature_card_title">File sharing</strong>
                        <a href="#" class="icon icon_arrow click feature_link"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="page_section customer_section">
            <div class="customer_block">
                <img src="/img/deliver.png" alt="customer image" class="customer_image">
                <div class="customer_card">
                    <p class="customer_comment">“The thing that keeps us connected
                        the most is Slack. It’s a very
                        immediate and straightforward
                        method of communication, and
                        really the only channel that people
                        prefer and enjoy using.”</p>
                    <img src="/img/brands/deliveroo.png" alt="customer brand" class="customer_brand">
                    <span class="customer_name">Will Sprunt, CIO, Deliveroo</span>
                </div>

            </div>
        </section>

        <section class="page_section content_section">
            <h3 class="content_title">Explore more about working in Slack</h3>
            <div class="content_block">
                <div class="content_card">
                    <img src="/img/slack101.png" alt="Slack 101" class="content_image">
                    <span class="content_card_title">Slack Tutorials</span>
                    <p class="content_description">Slack 101</p>
                    <div class="content_link click">
                        <a href="#" class="icon content_arrow"></a>
                        <a href="#" class="content_link_text">Learn more</a>
                    </div>
                </div>
                <div class="content_card">
                    <img src="/img/slackvsemail.png" alt="Slack vs Email" class="content_image">
                    <span class="content_card_title">Slack vs. Email</span>
                    <p class="content_description">An easier, more
                        organized way to work</p>
                    <div class="content_link click">
                        <a href="#" class="icon content_arrow"></a>
                        <a href="#" class="content_link_text">Learn more</a>
                    </div>
                </div>
                <div class="content_card">
                    <img src="/img/customers.png" alt="Customers" class="content_image">
                    <span class="content_card_title">Customer Stories</span>
                    <p class="content_description">How Fastly uses Slack
                        Connect to wow
                        enterprise customers</p>

                    <div class="content_link click">
                        <a href="#" class="icon content_arrow"></a>
                        <a href="#" class="content_link_text">Learn more</a>
                    </div>
                </div>
            </div>
        </section>


    </div>
</body>

</html>