:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-xl: 36px;
  --space-xxl: 80px;
  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-xl: 24px;
  --color-primary: rgb(46, 46, 255);
  --color-white: #ffffff;
  --clor-border: #dee2e6;
  --clor-border-light: #D3DEE9;
  --border-radius: 12px;
  --border-radius-s: 4px;
  --color-title: #212529;
  --color-text: #343a40;
  --weight-title: 500;
  --weight-text: 400;
}


/* ================ */
.page {
  background: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ================= */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--clor-border);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 24px;
  width: 24px;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  margin: 0;
  height: 1px;
  background: var(--clor-border);
}

.nav {
  display: flex;
}

.nav_inLine {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--sixe-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}


.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--clor-border);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  font-weight: var(--weight-title);
  display: block;
  margin-bottom: var(--space-l);
}

.main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
}

.messages {
  max-width: 620px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.10);
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.messages_title {
  font-size: var(--size-xl);
  font-weight: var(--weight-title);
  color: var(--weight-title);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--clor-border-light);
}

.messages_link {
  color: var(--color-primary);
  font-size: var(--size-s);
  align-self: flex-end;
  transition-duration: 0.7s;
  transition-property: opacity, border-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.messages_link:hover {
  opacity: 0.7;
  border-bottom: 1px solid var(--color-primary);
}

.msg {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--clor-border-light);
  padding-right: var(--space-xl);
}

.msg_name {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-title);
}

.msg_text {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-text);
}

.msg_day {
  position: absolute;
  top: 0;
  right: 0;

}

.form {
  max-width: 340px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.form_title {
  text-align: center;
  font-size: var(--size-xl);
  color: var(--color-title);
  font-weight: var(--weight-text);
}

.form_info {
  text-align: center;
  font-size: var(--size-d);
  color: #6C757D;
  font-weight: var(--weight-text);
}

.form_button {
  align-items: center;
  padding: 12px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-s);
  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.form_input_list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
}

.form_input {
  padding: var(--space-xm);
  border: 1px solid #CED4DA;
  border-radius: var(--border-radius-s);
}

.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-d);
}

.form_checkbox {
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.form_checkbox>input {
  display: none;
}

.form_checkbox>input~div {
  border: 1px solid #767676;
  border-radius: var(--border-radius-s);
  height: 13px;
  width: 13px;
}

.form_checkbox>input:checked~div {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.form_checkbox>label {
  font-size: var(--size-d);
  color: var(--color-title);
  cursor: pointer;
}

.advantages {
  display: flex;
  gap: var(--space-l);
}

.advantages>div {
  display: flex;
  flex-direction: column;
  border: var(--clor-border);
  border-radius: var(--border-radius);
  border: 1px solid #E4EAF2;
  padding: var(--space-l);
  gap: var(--space-s);
  width: 100%;
}

.advantages>div>strong {
  color: var(--color-title);
  font-weight: var(--weight-title);
  font-size: 18px;
}

.advantages>div>p {
  color: #767676;
  font-size: var(--size-d);
  line-height: 150%;
}