<footer class="footer">
    <div class="footer_nav">
        {{#each pages}}
        <a href="{{path}}" class="footer_link nav_link">{{name}}</a>
        {{/each}}
    </div>
    <div>
        <span class="footer_copyright">{{copyright}}</span>
    </div>
</footer>